@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<h3>Cats for Adoption:</h3>

<ul>
  @foreach (Animal animal in Model)
  {
    if (animal.Type == "cat")
    {
      <li>@Html.ActionLink($"{animal.Name}", "Details", new { id = animal.Id })</li>
    }
  }
</ul>

<p>@Html.ActionLink("List of all Animals", "Index")</p>
<p>@Html.ActionLink("Back to Types", "Types")</p>
<p>@Html.ActionLink("Home Page", "Index", "Home")</p>