@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<p>@Html.ActionLink("Dogs", "Dogs")</p>
<p>@Html.ActionLink("Cats", "Cats")</p>
<p>@Html.ActionLink("Horses", "Horses")</p>

<p>@Html.ActionLink("Home Page", "Index", "Home")</p>
